#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

export QT_SELECT = qt5
DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)

%:
	dh $@ --parallel

ifeq ($(DEB_BUILD_ARCH), x86_64)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), mipsel)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), mips64el)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), sw_64)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), loongarch64)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), amd64)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif

ifeq ($(DEB_BUILD_ARCH), arm64)
override_dh_auto_configure:
        dh_auto_configure -- -DDCC_DISABLE_WPA=YES
endif
